.icon-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.7);
}

.icon-row__icon__margin {
  margin-top: 18px;
}
