#no-mobile {
  position: fixed;
  z-index: 99;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.no-mobile__background {
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.no-mobile__alert {
  z-index: 2;
  color: white;
  position: absolute;
}
@media screen and (max-width: 550px) {
  #no-mobile {
    display: none;
  }
}
