.screen__header {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 40px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.cog__dot {
  display: flex;
  position: absolute;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: tomato;
  right: -5px;
  bottom: 20px;
}

.screen-header__icons__cog {
  position: relative;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1.5s linear infinite;
}
