.settings__setting {
  padding: 20px 0px;
  border-bottom: var(--main-border);
  font-size: 18px;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
  opacity: 0.9;
}

.setting__text-opacity {
  opacity: 0.5;
}
